.logo-top{
    position: relative;
    width:10%;
    height:15%;
    margin-left:45%;
}

.list-images {
    position: relative;
    margin-left:15%;
}

.panel-operations {
    position:relative;
    background: linear-gradient(to top, #2288aa, #126699);
    border-radius: 20px;
    margin-top:5%;
    width: 100%;
    height: 100px;
}

.panel-operations__button {
    position: relative;
    background-color: #ff77cc;
    border-radius: 40px;
    margin-top: 2%;
    margin-left: 4%;
    width: 20%;
    height: 80px;
    font-size: 14px;
    font-weight: 800;
    transition: 0.5s;
}

    .panel-operations__button:hover {
        background-color: #bb55aa;
        color: #ddaacc;
    }

.board-container {
    margin-top: 20%;
    margin-left: 25%;
    width: 70%;
    height: 1000px;
}

.board-main {
    position: relative;
    margin-top: 8%;
    margin-left: 25%;
    width: 50%;
    height: 1000px;
    background-color: #ccdde1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

.board-main__currect-product{
    position:relative;
    width:100%;
}

@keyframes blink-button{
    0%{
        background-color: #bb55aa;
    }
    100%{
        background-color: #ddaacc;
    }
}
