.list-images {
    position: absolute;
    margin-left: 10%;
}

.panel--top {
    background: linear-gradient(to top, #2288aa, #126699);
    border-radius: 20px;
    width: auto;
    height: 100px;
}


