.list-images {
    position: absolute;
    margin-left: 10%;
}

.panel-top {
    background: linear-gradient(to top, #2288aa, #126699);
    border-radius: 20px;
    width: auto;
    height: 100px;
}

.panel-top__button {
    position: relative;
    border-radius: 30px;
    margin-top: 2%;
    margin-left: 10%;
    width: 10%;
    height: 50%;
    transition: 0.5s;
}

.panel-top__button:hover {
    background-color: #3e8e41;
    color: white;
}

@keyframes blink-button{
    0%{
        background-color: brown
    }
    100%{
        background-color: coral
    }
}
